.dialogs_container{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 700px auto;
    grid-template-areas: 
    "l d";
    font-size: 20px;
    color: white;
    font-weight: 300;

}
.text_content{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 300;


}
.dialog_list{
    grid-area: l;
    background-color: rgba(39, 38, 38, 0.76);
    text-align: left;
    border-color: rgba(100, 95, 95, 0.849);
    border-style: solid;
    border-width: 1px;
}

.dialog{
    grid-area: d;
    background-color: rgba(39, 38, 38, 0.76);
    
}
