.dialogs_container{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 700px auto;
    grid-template-areas: 
    "l d S";
    font-size: 20px;
    color: white;
    font-weight: 300;
    background-color: rgba(39, 38, 38, 0.76);
    text-align: left;
    margin-right: 10px;
    border-radius: 3px;

}
.dialogs_container hr{
    padding: 0%;
    margin:0%;
}
.dialog_list_container{
    text-align: center;
    margin-right: 10px;
}
.text_content{
    text-align: left;
    font-size: 20px;
    color: white;
    font-weight: 300;
    padding-left: 20px;
    



}
.dialog_list{
    grid-area: l;
    background-color: rgba(39, 38, 38, 0.76);
    text-align: left;
    border-color: rgba(51, 48, 48, 0.849);
    border-style: solid;
    border-width: 1px;
    margin:0%;
    padding: 0%;
}

.side_bar{
    grid-area: S;
    width:200px;
}
.dialog{
    grid-area: d;
    background-color: rgba(22, 21, 21, 0.76);
    text-align: center;
}
.dialogs{
    background-color: rgba(39, 38, 38, 0.76);
    padding: 0px;
    margin:0px;
    
}
.dialogs_item{
    display: inline;
    text-align: left;
    font-size: 20px;
  

}
.dialogs_item img{
    size:50px 50px;
}
.dialogs_item button {
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 0px;
}
.textarea{
    width: calc(100% - 10px);
    height: 80px;
    margin-top: 50%;
    position: relative;
}
.button{
    height: 40px;
    width: 70px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 15px;
}