.Header{
    grid-area: H;
    background-color: rgba(55, 90, 85, 0.712);
    margin-top: 10px;
    grid-template-columns: 600px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
    "P N" ;
    display: grid;
    gap:20px;
    border-radius: 3px;
    height: 60px;
    align-items: center;
  
}

.Head_nav_container li{
  display: inline;
}
.Header .nav {
  margin-left: 0%;
  display: block;
  
}

.Header button{
  display: inline;
  height: 25px;
  width: 65px;
}
.Profile_mini button{
  margin-top: 15px;
  margin-left: 50px;
  float: right;
  margin-right: 200px;
}
.Header input {
  height: 20px;
  width: 150px;
}
.Header .Head_nav_container{
  grid-area: N;
}
.Header_avatar{
  width:70px;
  height: 70px;
  display: inline;
  margin-top: 5px;
  margin-left: 10px;
}
.logo{
  margin-top: 10px;
  margin-right: 10px;
  grid-area: P;
  width: 60px;
  height: 60px;
}