.Profile_container{
    background-color: rgb(116, 174, 182);;
    margin-right: 10px;
}

.Profile h1{
    color: cornsilk;
    font-weight: 400;
    font-size: 30px;
    float: right;
    margin:0 850px 0 0;
}
.Profile img {
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
}