/* /////////////////////////////////               Task Styles */
.task{
    grid-area:T;
    background-color:rgba(30, 66, 61, 0.712);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(128, 122, 122);
    border-style: solid;
    width: 350px;
    height: 300px;
    text-align: left;
    font-size: 15px;
    margin: 10px 0 0 10px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.781);
  }
  .task:hover{
    box-shadow: 10px 10px 50px 0px rgba(121, 66, 121, 0.781);
  }
  .name_div{
    background-color: rgba(22, 46, 43, 0.712);
    margin:0%;
    padding: 0%;
    
  }
  h2{
    text-align: center;
  }
  ul{
    list-style: none;
    text-align: left;
  }
 .task button{
    font-size: 10px;
    margin: 0%;
    padding: 0%;
    height: 40px;
    width: 80px;
    font-size: 15px;
    color: black;
    font-weight: 200;

  }
  .btn_div{
    margin-left: 15%;
  }
  .task hr{
    margin-top: 60px;
  }