.task_bar{
    /* grid-area:"T"; */
    background-color: rgba(30, 66, 61, 0.712);
    display: inline;
    width: 100%;
    height: 50px;

}
.task_bar ul{
    display: inline;
}
.task_bar button{
    border-radius: 5px;
    /* padding: 0%;
    margin:0%; */

}