.wrapper{
  display: ms-grid;
  display:grid;
  background-color: rgb(85, 84, 84);
 
}

.root{
  
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
   /* -ms-grid-rows: 400px auto;
  -ms-grid-columns: 400px auto; */
  margin-left: 20%;
  grid-template-columns: 1000px;
  grid-template-rows: auto;
  grid-template-areas:
  "H"
  "S"
  "C"
  "F";
  gap: 5px;
  align-items: center;
  
}

