.wrapper{
  display: ms-grid;
  display:grid;
  background-color: rgb(85, 84, 84);
 
}

.root{
  background:url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
   /* -ms-grid-rows: 400px auto;
  -ms-grid-columns: 400px auto; */
  grid-template-columns: 250px auto;
  grid-template-rows: 100px 700px;
  grid-template-areas:
  "H H"
  "S C"
  "F F";
  gap: 20px;
}

/* ////////////////////////////////                Header Styles ////////////////////////////*/
.Header{
    grid-area: H;
    background-color: rgba(146, 24, 177, 0.308);
    margin-right: 10px;
    margin-top: 10px;
    grid-template-columns: 400px auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "P N" ;
    display: grid;
    gap:700px;
}
.Header .Head_nav_container li{
  display: inline;
}
/* /* .Header .nav {
  margin-left: 70%;
  display: block;
} */

.Header button{
  display: inline;
  height: 40px;
  width: 70px;
}
.Profile_mini button{
  margin-top: 10px;
  margin-left: 10px;
}
.Header input {
  height: 34px;
  width: 250px;
}
.Header .Head_nav_container{
  grid-area: N;
}
.Header .Profile_mini{
  grid-area: P;
}

/* ////////////////////////////////                Sidebar Styles /////////////////////////*/
.sidebar{
  grid-area: S;
  background-color: rgba(146, 24, 177, 0.308);
  font-size: 25px;

}
.sidebar a{
  text-decoration: none;
  color:white;
}
.side_list{
  margin-right: 30px;;
}
.sidebar ul{
  margin-right: 40px;
  list-style-type:none;
  list-style: none;
}
.sidebar li{
  padding:5px 10px 10px 10px;
}
/* /////////////////////////////////             Content container styles ///////////////// */
.container{
  grid-area: C;
  background-color: rgba(148, 65, 168, 0.308);
  margin-right: 10px;
}
.container button{
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(131, 116, 89);
  font-weight: 700;
  text-shadow:  5px 5px 20px black;
}

/* /////////////////////////////////              footer styles */
.footer{
  grid-area:F;
  background-color: rgba(34, 18, 37, 0.925);
  color: rgb(197, 194, 194);
}
.footer h2{
  text-align: center;
}
.footer a{
  text-decoration: none;
  color: rgb(197, 194, 194);

}
.footer ul{
  list-style: none;
  text-align: center;
}
/* /////////////////////////////////               Task Styles */
.task{
  grid-area:T;
  background-color:rgba(148, 65, 168, 0.308);
}